.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover, &.isActive {
    background-color: var(--primary-fade-color);
    color: var(--white-color);
  }
}
