.wrapper {
  margin: 8px 0;
  min-height: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--black-color);

  &:hover .message__actions {
    opacity: 1;
  }

  &.is-sender {
    flex-direction: row-reverse;

    .content {
      background-color: var(--text-color);
      color: var(--white-color);
    }
  }

  .avatar {
    flex-basis: 37px;
  }

  .content {
    padding: 12px 15px;
    line-height: 1.7rem;
    font-size: 1.2rem;
    border-radius: 7px;
    background-color: var(--bg-message);
  }

  .message__actions {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-basis: 80px;
    opacity: 0;
    transition: 0.2s;
    color: var(--text-color);
  }
}