.wrapper {
  margin: 8px 0;
  min-height: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--black-color);

  &:hover .message__actions {
    opacity: 1;
  }

  &.is-sender {
    flex-direction: row-reverse;

    .content {
      background-color: var(--text-color);
      color: var(--white-color);
    }
  }

  .avatar {
    flex-basis: 37px;
  }

  .content {
    padding: 12px 15px;
    line-height: 1.7rem;
    font-size: 1.2rem;
    border-radius: 7px;
    background-color: var(--bg-message);

    .message__reply {
      display: flex;
      gap: 7px;
      margin-bottom: 10px;

      &-mark {
        width: 2px;
        background-color: var(--subtext-color);
      }

      &-main {
        padding: 5px 10px;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s background-color;

        &:hover {
          background-color: var(--secondary-fade-color);

          &.is-sender {
            background-color: var(--text-color-hover);
          }
        }


        &.in-active {
          background: transparent !important;
          cursor: context-menu;
          user-select: none;

        }

        &-fullName {
          font-size: 1.4rem;
          font-weight: 500;
          margin-bottom: 5px;
        }

        &-content {
          font-size: 1.2rem;
          margin-bottom: 0;
        }
      }
    }

    .text__content {
      word-break: break-all;
    }
  }
}

.message__actions {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-basis: 80px;
  opacity: 0;
  transition: 0.2s;
  color: var(--text-color);
}

.message__deleting {
  animation: spinning infinite 0.6s linear;
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
