.w-full { width: 100%; }

.w-screen { width: 100vw; }

.h-full { height: 100%; }

.h-screen { height: 100vh; }

.relative { position: relative; }

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  line-height: 1.3;
}

.d-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abs-center {
  position: absolute;
  inset: 50%;
  transform: translateY(-50%);
}

.grid-center {
  display: grid;
  align-self: center;
}
