@import "node_modules/normalize.css";
@import "../../../node_modules/antd/dist/reset.css";
@import "../../../node_modules/react-toastify/dist/ReactToastify.css";
@import "swiper/css";

@import "design-system/design-system";
@import "utils";

:root {
  --pt-home-page: 50px;
  --border-radius: 18px;
  --sidebar-width: 250px;

  // setting page
  --setting-max-width: 450px;

  // notification page
  --setting-max-width: 600px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: Poppins, serif;
  font-weight: 400;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--text-color);
}

.toast,
.toast * {
  font-size: 1.4rem;
  font-family: "Be Vietnam", sans-serif !important;
}

.ant-menu {
  .ant-menu-item.ant-menu-item-only-child {
    padding-inline: 0;
  }

  .ant-menu-item-selected,
  .ant-menu-item-selected * {
    color: var(--text-heading-color);
  }
}

.swiper-pagination-bullets {
  display: flex;
  padding: 0 10px;
}

.swiper-pagination-bullet {
  background-color: var(--white-color);
  height: 4px;
  flex: 1;
}

.custom__scroll {
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--subtext-color);
  }

  &::-webkit-scrollbar {
    height: 1rem;
  }

  &.custom__scroll--small {
    &::-webkit-scrollbar {
      height: 1rem;
      width: 1rem;
    }
  }
  &.custom__scroll--tiny {
    &::-webkit-scrollbar {
      height: 0.5rem;
      width: 0.5rem;
    }
  }
}

.typing {
  display: flex;
  align-items: center;
  gap: 4px;

  &__dot {
    animation: typing infinite 1.8s ease-in-out;
    height: 7px;
    width: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: inline-block;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.3s;
    }

    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes typing {
  0% {
    transform: translateY(0px);
    background-color:#6CAD96; // rgba(20,105,69,.7);
  }
  28% {
    transform: translateY(-4px);
    background-color:#9ECAB9; //rgba(20,105,69,.4);
  }
  44% {
    transform: translateY(0px);
    background-color: #B5D9CB; //rgba(20,105,69,.2);
  }
}
