.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-home);
  overflow: hidden;
}

.main-content {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: var(--pt-home-page) 40px var(--pt-home-page) calc(var(--sidebar-width) + 40px);
}
