.w-full { width: 100%; }

.w-screen { width: 100vw; }

.h-full { height: 100%; }

.h-screen { height: 100vh; }

.d-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abs-center {
  position: absolute;
  inset: 50%;
  transform: translateY(-50%);
}

.grid-center {
  display: grid;
  align-self: center;
}
