@import "normalize.css";
@import "antd/dist/reset.css";
@import "react-toastify/dist/ReactToastify.css";
@import "swiper/css";

@import "design-system/design-system";
@import "utils";

:root {
  --pt-home-page: 50px;
  --border-radius: 18px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 400;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--text-color);
}

.toast,
.toast * {
  font-size: 1.4rem;
  font-family: "Be Vietnam", sans-serif !important;
}

.ant-menu {
  .ant-menu-item.ant-menu-item-only-child {
    padding-inline: 0;
  }

  .ant-menu-item-selected,
  .ant-menu-item-selected * {
    color: var(--text-heading-color);
  }
}

.swiper-pagination-bullets {
  display: flex;
  padding: 0 10px;
}

.swiper-pagination-bullet {
  background-color: var(--white-color);
  height: 4px;
  flex: 1;
}


