@import "normalize.css";
@import 'antd/dist/reset.css';
@import 'react-toastify/dist/ReactToastify.css';

@import "design-system/design-system";
@import "utils";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 400;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: var(--text-color);
}

.toast, .toast * {
  font-size: 1.4rem;
  font-family: "Be Vietnam", sans-serif !important;
}
