.title {
  font-size: 1.8rem;
  text-align: center;
}

.form__upload {
  &-form {
    margin-top: 20px;
  }

  &-list {
    max-height: 40vh;
    overflow-y: auto;
  }

  &-item {
    margin-bottom: 3px;
  }

  &-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
