@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-Thin.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-ThinItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Be VietNam";
  src: url("../../fonts/BeVietnamPro-ExtraBold.ttf");
  font-weight: 800;
}
