.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-home);
  overflow: hidden;
}

.main-content {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: calc(var(--sidebar-width) + 50px) ;
  padding-top: var(--pt-home-page);
}
