.wrapper {
  display: flex;
  height: 100%;
  background-color: var(--white-color);
  border: 1px solid var(--secondary-fade-color);
  border-radius: 10px;
}

.left-side, .right-side {
  padding-top: 20px;
}

.left-side {
  width: 330px;
}

.divider {
  height: 100%;
  width: 1px;
  background-color: var(--secondary-fade-color);
  border: none;
}

.right-side {
  flex: 1;
}