.wrapper, .modal__wrapper {
  max-width: var(--setting-max-width);
  text-align: center;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 2rem;
}

.description {
  width: 90%;
  margin: auto;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.delete__action {
  width: 100% !important;
}
