.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--white-color);
  border: 1px solid var(--subtext-color);
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: var(--setting-container-hover-color);

    .icon {
      color: var(--text-heading-color);
    }
  }
}

.value__choose {
  display: flex;
  align-items: center;
  gap: 8px;

  span {
    color: var(--subtext-color);
  }
}

.icon {
  color: var(--subtext-color);
  transition: 0.5s;
}

.snooze__description {
  margin: 10px 20px 0 20px;
  font-size: 1rem;
  color: var(--subtext-color);
}