:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #505279;
  --text-color-hover: #6d6f97;
  --text-heading-color: #505279;
  --subtext-color: #AAAAB7;
  --bg-home: #F6F7FF;
  --bg-message: #F3F2EE;
  --conversation-hover: rgba(0, 0, 0, 0.05);
  --video-call-control: rgba(67, 76, 82, 0.5);
  --video-call-control-hover: rgba(84, 95, 102, 0.8);
  --video-call-control-off: #FC5D5B;
  --video-call-control-off-hover: #BF5857;
  --setting-container-hover-color: rgba(0,0,0,0.03);

  --primary-color: #F82E4B;
  --primary-fade-color: #DF4259;
  --secondary-color: #e4832d;
  --secondary-fade-color: #efddd1;
  --info-color: #5D5FEE;
  --info-fade-color: #9E9CFE;

  --pink-10: #F5F6FF;
  --green-10: #E3F6F4;
  --green-30: #41C3B9;
  --green-50: #24c9bc;
}

.text-white {
  color: var(--white-color);
}

.text-black {
  color: var(--black-color);
}

.text-color {
  color: var(--text-color);
}

.text-color-hover {
  color: var(--text-color-hover);
}

.subtext-color {
  color: var(--subtext-color);
}

.primary-color {
  color: var(--primary-color);
}

.primary-fade-color {
  color: var(--primary-fade-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.secondary-fade-color {
  color: var(--secondary-fade-color);
}

.info-color {
  color: var(--info-color);
}

.info-fade-color {
  color: var(--info-fade-color);
}
